<!--{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}-->


{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <div class="inset">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.username }} {{ form.username.errors }}
            <br>
            {{ form.password1 }} {{ form.password1.errors }}
            <br>
            {{ form.password2 }} {{ form.password2.errors }}
            <br>
            <input id="id_email" name="email" type="email" placeholder="email@address.com"> {{ form.email.errors }}
            <br><br>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
        <div class="footnote">
            Already have an account? <a href="{{ login_url }}">sign in</a>
        </div>
    </div>
{% endblock %}
