<html>
{% load staticfiles %}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Juegos Olimpicos 2016 Rio de Janeiro SEIA">
	<meta name="robots" content="index">
	<meta name="googlebot" content="all">
    
    <link rel="icon" type="image/x-icon" href="{% static 'images/mifavicon.ico'%}" />    
    <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>    
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" media="screen"></script>
    <title id= "titulo"> Juegos Olimpicos </title>
	{% block head %}
	{% endblock %}
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
  {% block body %}
    {% block content %}
    {% endblock content %}
  {% endblock body %}
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{% url 'sitio.views.inicio' %}"><img class="logo-nav" src="{% static 'fondos/rio.png' %}"/><a>
                    <div class="buscador">
                        <a class="navbar-brand" href="/search/">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>
                          
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="MyNav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>       
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            <li>
                                <div style="padding-top: 7%"><b>Invita a tus amigos: </b>
                                <a id="sendMessage" href="#"><img id="sendMessage" class="size" src="{% static 'fondos/facebook.png' %}"/></a>
                                <a href="{% url 'sitio.views.shared' %}"><img class="size" src="{% static 'fondos/twitter.png' %}"/></a>
                                </div>
                            </li>
                        {% endif %}
                        <li><a href="{% url 'sitio.views.listado_eventos_view' %}"><b>ENCUENTRA UN EVENTO </b></a></li>
                        <li><a href="{% url 'sitio.views.listado_preguntas_view' %}"><b>FORO</b></a></li>
                        <li><a href="{% url 'sitio.views.listado_encuestas_view' %}"><b>ENCUESTAS</b></a></li>
                        <li><a href="{% url 'sitio.views.listado_resenias_view' %}"><b>RESEÑAS</b></a></li>
                        <li><a href="{% url 'sitio.views.listado_imagenes_view' %}"><b>GALERIA</b></a></li>
                        <li><a href="{% url 'sitio.views.listado_transmisiones_view' %}"><span class="glyphicon glyphicon-blackboard"></a></li>
                        <li><a href="{% url 'sitio.views.subir_imagen_view' %}"><span class="glyphicon glyphicon-camera"></a></li>
                        <li>
                            {% if request.user.is_authenticated %}
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> <span class="glyphicon glyphicon-user" style="color: #2C657D;"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            {% if request.user.first_name or request.user.last_name %}
                                                {{ request.user.first_name }} {{ request.user.last_name }}
                                            {% else %}
                                                {{ request.user.username }}
                                            {% endif %}
                                        </a>
                                    </li>
                                    <!--<li><a href="{% url 'sitio.views.editar_datos_usuario_view' %}">Mi Perfil</a></li>-->
                                    <li> <a href="{% url 'sitio.views.listado_resenias_usuario_view' %}">Mis Reseñas</a></li>
                                    <li> <a href="{% url 'sitio.views.listado_encuestas_usuario_view' %}">Mis Encuestas</a></li>
                                    <li> <a href="{% url 'sitio.views.listado_transmisiones_usuario_view' %}">Mis Transmisiones</a></li>
                                    <li> <a href="/accounts/logout/">Cerrar sesión</a></li>
                                </ul>
                            {% else %}
                                <a href="/accounts/login/"> <span class="glyphicon glyphicon-user"></a>
                            {% endif %}  
                        </li> 
                    </ul>
                </div>
            </div>
        </nav>
    </header>

	<div class="row" width="100">
        {% block titulo %}
		<h1> </h1>
        {% endblock %}
    </div>

    <div class="row">
        {% block contenido %}
        {% endblock %}
    </div>

    <div id="pie-de-pagina" class="row">
        <p>Gracias por leernos!</p>
    </div>
    <div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function () {
			FB.init({
				appId: '537849959749664',
				status: true,
				cookie: true,
				xfbml: true
			});
		};

		(function (doc) {
			var js;
			var id = 'facebook-jssdk';
			var ref = doc.getElementsByTagName('script')[0];
			if (doc.getElementById(id)) {
				return;
			}
			js = doc.createElement('script');
			js.id = id;
			js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
			}(document));
	function facebook_send_message(to) {		
		FB.ui({
			app_id:'537849959749664',
			method: 'send',
			name: "JJOO SEIA",
			link: 'http://jjooseia.herokuapp.com/',
			
			description:'Conoce todo sobre los JJOO. Yo te lo recomiendo ;)'
			},
			function(response) { alert('Se ha enviado correctamente!'); });
		}
	$(function(){
		$("#sendMessage").click(function(){
			FB.getLoginStatus(function(response) {
				if (response.status == 'connected' || response.status == 'not_authorized') 
                {
					facebook_send_message();
				}
				else
				{
					alert("Debe loguearse con su cuenta de Facebook para poder enviar un mensaje.");
				}
		    });
	    });
    });
	</script>
</body>
</html>
{% block extra_js %}
<script src="{% static 'js/formularios.js' %}"></script>
{% endblock %}
