{% extends 'base.html' %}
{% load staticfiles %}

{% block contenido %}
	<form  method="POST">
	{% csrf_token %}
		<input type="hidden" name="id_imagen" value="{{imagen.id}}"/>
		<input type="hidden" name="tipo_contenido" value="{{tipo_contenido}}"/>
		<input type="hidden" name="contenido" value="{{contenido}}"/>
		<input type="hidden" name="evento" value="{{evento}}"/>
	{% for motivo in Motivos%}
		<input type="radio" name="id_motivo" value={{motivo.id}} checked> {{motivo.descripcion}}</input>
    {% endfor %}
		<input type="submit" value="Denunciar" class="btn btn-primary" id="boton_denunciar_resenia" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
	</form>
{% endblock %}