{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-crear">
    <div class="panel-heading">
        <h3 class="panel-title">Editar Transmisión</h3>
    </div>
    <div class="panel-body">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <div style="color:#26651D">{{ field.label_tag }} </div>
                    {{ field }}
                </div> <br>
            {% endfor %}
            <br>
            <input type="submit" value="GUARDAR CAMBIOS" class="btn btn-success btn-sm" style="padding-left:10"/>
        </form>
    </div>
</div>
{% endblock %}

