{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-crear">
    <div class="panel-heading">
        <h3 class="panel-title">Editar Encuesta</h3>
    </div>
    <div class="panel-body">
        <form method="POST">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{encuesta.id}}"/>
			{% for field in form %}
				<div class="fieldWrapper">
					{{ field.errors }}
					<div style="color:#26651D">{{ field.label_tag }} </div>
					{{ field }}
				</div> <br>
			{% endfor %}
			<br>
			<input type="submit" value="GUARDAR CAMBIOS" class="btn btn-success btn-sm" style="padding-left:10"/>
		</form>
    </div>
</div>
{% endblock %}

{% block extra_js%}
	<script src= "{% static 'js/encuestas.js' %}"></script>
{% endblock %}
	
