{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-crear">
    <div class="panel-heading">
        <h3 class="panel-title">Mi perfil</h3>
    </div>
    <div class="panel-body">
        <form method="POST">
			{% csrf_token %}
			{% for field in form %}
				{% if "Fecha" in field.label_tag %}
					<div>
							<label>Fecha de nacimiento:</label> <br>
							<input name="fecha_nacimiento" type="date"/>
					</div> <br>
				{% else %}
					<div class="fieldWrapper">
						{{ field.errors }}
						<div style="color:#26651D">{{ field.label_tag }} </div>
						{{ field }}
					</div> 
					<br>
				{% endif %}
			{% endfor %}
			<br>
			<input type="submit" value="GUARDAR CAMBIOS" class="btn btn-success btn-sm" style="padding-left:10"/>
		</form>
    </div>
</div>
{% endblock %}
