{% extends 'base.html' %}

{% block contenido %}
  <h3>¿Esta seguro que quiere eliminar el contenido?</h3>
  <form>
	{% csrf_token %}
    <input type="hidden" name="tipo_contenido" value="{{tipo_contenido}}"/>
	<input type="hidden" name="contenido" value="{{contenido}}"/>
	<input type="hidden" name="evento" value="{{evento}}"/>
	<input type="hidden" name="pregunta_f" value="{{pregunta_f}}"/>
	<input type="submit" value="Si" class="btn btn-primary" style="padding-left:10" formmethod="POST" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
	{% if tipo_contenido == 'comentario'%}
		<input type="submit" value="No" class="btn btn-primary" style="padding-left:10" formmethod="GET" formaction="{% url 'sitio.views.listado_eventos_view' %}"/>
	{% endif %}
	{% if tipo_contenido == 'resenia'%}
		<input type="submit" value="No" class="btn btn-primary" style="padding-left:10" formmethod="GET" formaction="{% url 'sitio.views.listado_resenias_view' %}"/>
	{% endif %}
	{% if tipo_contenido == 'pregunta'%}
		<input type="submit" value="No" class="btn btn-primary" style="padding-left:10" formmethod="GET" formaction="{% url 'sitio.views.listado_preguntas_view' %}"/>
	{% endif %}
	{% if tipo_contenido == 'respuesta'%}
		<input type="submit" value="No" class="btn btn-primary" style="padding-left:10" formmethod="GET" formaction="{% url 'sitio.views.listado_preguntas_view' %}"/>
	{% endif %}
	{% if tipo_contenido == 'imagen'%}
		<input type="submit" value="No" class="btn btn-primary" style="padding-left:10" formmethod="GET" formaction="{% url 'sitio.views.listado_imagenes_view' %}"/>
	{% endif %}
	{% if tipo_contenido == 'transmision'%}
		<input type="submit" value="No" class="btn btn-primary" style="padding-left:10" formmethod="GET" formaction="{% url 'sitio.views.listado_transmisiones_view' %}"/>
	{% endif %}
	{% if tipo_contenido == 'encuesta'%}
		<input type="submit" value="No" class="btn btn-primary" style="padding-left:10" formmethod="GET" formaction="{% url 'sitio.views.listado_encuestas_view' %}"/>
	{% endif %}
  </form>
   
{% endblock %}