{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<form method="GET">
	<input type="hidden" name="tipo_carga" value="sin_evento"/>
	<input type="submit" value="CREAR ENCUESTA" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.encuestas_view' %}"/>
</form>
<h3 class="titulo-azul"> Mis Encuestas </h3>
     {% for encuesta in lista_encuestas %}
		{% csrf_token %}
		<div class="panel panel-success" id="panel-lista">
			<div class="panel-heading">
				<h3 class="panel-title">{{encuesta.titulo}}</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
				<li class="list-group-item">{{ encuesta.descripcion|truncatewords:"30"}}</li>
				<li class="list-group-item"><b> Fecha cierre: </b>{{ encuesta.fecha_cierre }}</li>
			</ul>
			<form  method="GET">
				<input type="hidden" name="id_encuesta" value="{{encuesta.id}}"/>
				<div align="right">
					<input type="submit" value="Editar Encuesta" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.editar_encuesta_view' %}"/>
				</div>
			</form>
			</div>
		</div>
   {% endfor %}
	
{% endblock %}

