{% extends 'base.html' %}
{% block head %} 
{% endblock %}
{% block contenido %} 
<form method="GET">
	<input type="hidden" name="tipo_carga" value="sin_evento"/>
	<input type="submit" value="CREAR ENCUESTA" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.encuestas_view' %}"/>
</form>
<h3 class="titulo-azul"> Lista de Encuestas </h3>
{% for encuesta in encuestas %}
	{% csrf_token %}
	<div class="panel panel-success" id="panel-lista">
		<div class="panel-heading">
			<h3 class="panel-title">{{encuesta.titulo}}</h3>
		</div>
		<div class="panel-body"> 
			<ul class="list-group">
				<li class="list-group-item">{{ encuesta.descripcion|truncatewords:"30"}}</li>
				<li class="list-group-item"><b> Fecha cierre: </b>{{ encuesta.fecha_cierre }}</li>
			</ul>
			<form method="GET">
				<input type="hidden" name="id_encuesta" value="{{encuesta.id}}"/>
				<input type="hidden" name="tipo_contenido" value="encuesta"/>
				<input type="hidden" name="evento" value="{{encuesta.id_evento}}"/>
				<div align="right">
					{% if encuesta.id_usuario_creador == usuario %}
						<div align="right">
							<input type="submit" value="Eliminar" class="btn btn-success btn-xs" style="padding-left:10;" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
							{% if not encuesta.id in votos_usuario %}
								<input type="submit" value="Votar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.votar_encuesta_view' %}"/>
							{% else %}
								<input type="submit" value="Ver" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.ver_encuesta_view' %}"/>
							{% endif %}
						</div>
					{% else %}
						<div align="right">
							<input type="submit" value="Denunciar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
							{% if not encuesta.id in votos_usuario %}
								<input type="submit" value="Votar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.votar_encuesta_view' %}"/>
							{% else %}
								<input type="submit" value="Ver" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.ver_encuesta_view' %}"/>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
{% endfor %}
<div class="pagination">
	<span class="step-links">
		{% if encuestas.has_previous %}
			<a href="?page={{ encuestas.previous_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Anterior</a>
		{% endif %}

		<span class="current">
			Pagina {{ encuestas.number }} de {{ encuestas.paginator.num_pages }}.
		</span>

		{% if encuestas.has_next %}
			<a href="?page={{ encuestas.next_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Siguiente</a>
		{% endif %}
	</span>
</div>
{% endblock %}


