{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-crear">
    <div class="panel-heading">
        <h3 class="panel-title">Crear Encuesta</h3>
    </div>
    <div class="panel-body">
        <form method="POST">
			{% csrf_token %}
			{% for field in form %}
				{% if "Fecha" in field.label_tag %}
					<div>
						<label>Fecha de cierre:</label><br>
						<input name="fecha_cierre" type="date"/>
					</div>
				{% else %}
					{% if "Fecha" in field.label_tag %}
						<div>
							<label>Hora de cierre:</label><br>
							<input name="fecha_cierre" type="time"/>
						</div>
					{% else %}
						<div class="fieldWrapper">
							{{ field.errors }}
							<div style="color:#26651D">{{ field.label_tag }} </div>
							{{ field }}
						</div> 
						<br>
					{% endif %}
				{% endif %}
			{% endfor %}
			<br>
			<p style="color:#26651D">Haz click en agregar para crear las opciones:</p>
			<br/>
			<div id="boton_agregar_opciones" class="btn btn-success btn-sm" style="padding-left:10">Agregar</div>
			<br/>
			<br/>
			<input type="submit" value="GUARDAR ENCUESTA" class="btn btn-success btn-sm" style="padding-left:10"/>
		</form>
	</div>
</div>
{% endblock %}


{% block extra_js%}
	<script src= "{% static 'js/encuestas.js' %}"></script>
{% endblock %}
	