{% extends 'base.html' %}
{% block head %}
<!--<style>
#comentario_div{
	background-color:#26651D;
	color: white;
	border:None;
}
</style>-->
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-evento">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Deporte:</b> {{evento.id_deporte}}</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
					<li class="list-group-item"><b>Fecha:</b> {{ evento.fecha_hora.day }}/{{ evento.fecha_hora.month }}/{{ evento.fecha_hora.year }}</li>
					<li class="list-group-item"><b>Hora:</b> {{ evento.fecha_hora.hour }}:{{ evento.fecha_hora.minute}} hs</li>
					<li class="list-group-item"><b>Estadio:</b> {{ evento.id_estadio }}</li>
					<li class="list-group-item"><b>Lugar:</b> {{ evento.id_estadio.id_localidad }}
					<li class="list-group-item"><b>Paises:</b>
						{% for pais in paises %}
						<ul>
							<li> <img href="{{ pais.id_pais.imagen}}">{{pais.id_pais}}</li>
						</ul>
						{% endfor %}
					</li>
				</ul>
				<form method="GET">
					<input type="hidden" name="id" value="{{evento.id}}"/>
					<div align="center">
					<br>
					<input type="hidden" name="tipo_carga" value="con_evento"/>
					<input type="submit" value="CREAR RESEÑA" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.resenias_view' %}"/>
					<input type="submit" value="CREAR ENCUESTA" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.encuestas_view' %}"/>
					<input type="submit" value="AGREGAR TRANSMISION" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.transmisiones_view' %}"/>
					</div> <br>
					<div align="center">
					<input type="submit" value="VER TRANSMISIONES" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.listado_transmisiones_evento_view' %}"/>
					<input type="submit" value="VER IMAGENES" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.listado_imagenes_evento_view' %}"/>
					<input type="submit" value="VER RESEÑAS" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.listado_resenias_evento_view' %}"/>
					<input type="submit" value="VER ENCUESTAS" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.listado_encuestas_evento_view' %}"/>
					</div>
					
				</form>
    </div>
</div>
<div class="col-md-6">
	<!--<p class="titulo-azul" style="text-align:center"> <b>Comentarios:</b></p>-->
	<div class="panel panel-success" id="panel-comentario">
			<div class="panel-heading">
					<h3 class="panel-title">Comentarios recientes</h3>
			</div>
			<div class="panel-body">
				{% for comentario in comentarios %}
					<ul class="list-group">
						<li class="list-group-item">
							<b>{{comentario.id_usuario_autor}}</b>
							<form  method="GET">
									<input type="hidden" name="id_comentario" value="{{comentario.id}}"/>
									<input type="hidden" name="tipo_contenido" value="comentario"/>
									<input type="hidden" name="evento" value="{{evento.id}}"/>
									{% if comentario.id_usuario_autor == usuario %}
										<div align="right">
											<input type="submit" value="Eliminar" class="btn btn-success btn-xs" style="padding-left:10;" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
										</div>
									{% else %}
											<div align="right">
												<input type="submit" value="Denunciar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
											</div>
									{% endif %}
								</form>
						</li>
						<li class="list-group-item">{{comentario.descripcion}}</li>
					</ul>
				{% endfor %}
		</div>
	</div>
</div>
<div class="col-md-5" >
	<div class="panel panel-success" id="panel-comentario">
		<div class="panel-heading">
				<h3 class="panel-title">Deja tu Comentario!</h3>
		</div>
		<div class="panel-body">
			<form method="POST">
				{% csrf_token %}
				<input type="hidden" name="id" value="{{evento.id}}"/>
				<textarea name="descripcion" type="textarea" rows="5" cols="50"/> </textarea>
				<br/>
				<input type="submit" value="Comentar" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.eventos_view' %}"/>
			</form>
		</div>
	</div>
</div>
{% endblock %}