{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
  <form>
  	<div id="panel-eventos" class="col-md-9">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Filtrar Por:</h3>
				
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>
								<b> Deporte </b>
							</td>
							<td>
								<select name='filtro_deporte'>
								  <option value selected="Todos">Todos</option>
								  {% for deporte in deportes %}
									  {% if deporte.nombre == filtro_deporte %}
										<option value="{{deporte.nombre}}" selected>{{deporte.nombre}}</option>
									  {% else %}
										<option value="{{deporte.nombre}}">{{deporte.nombre}}</option>
									  {% endif %}
								  {% endfor %}
							  </select>
							</td>
						
							<td>
								<b> Estadio </b>
							</td>
							<td>
								<select name='filtro_estadio'>
									  <option value selected="Todos">Todos</option>
									  {% for estadio in estadios %}
										{% if estadio.nombre == filtro_estadio %}
										  <option value="{{estadio.nombre}}" selected>{{estadio.nombre}}</option>
										{% else %}
										  <option value="{{estadio.nombre}}">{{estadio.nombre}}</option>
										{% endif %}
									  {% endfor %}
								  </select>
							</td>						
							<td>
								<form method="GET">
									<input type="submit" value="Filtrar" formaction="{% url 'sitio.views.listado_eventos_view' %}"/>
								</form>
							</td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
  <h3 class="titulo-azul"> Lista de Eventos </h3>
   {% for evento in eventos %}
    {% csrf_token %}
    <div class="panel panel-success" id="panel-lista">
		<div class="panel-heading">
			<h3 class="panel-title"><b>{{evento.id_deporte}}</b></h3>
		</div>
		<div class="panel-body">
            {{ evento.fecha_hora }}
            <form method="GET">
                <input type="hidden" name="id" value="{{evento.id}}"/>
                <input type="hidden" name="tipo_carga" value="con_evento"/>
                <div align="center">
                    <input type="submit" value="Crear Reseña" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.resenias_view' %}"/>
                    <input type="submit" value="Crear Encuesta" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.encuestas_view' %}"/>
                    <input type="submit" value="Agregar Transmisión" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.transmisiones_view' %}"/>
                    <input type="submit" value="Ver" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.eventos_view' %}"/>
                </div>
            </form>
        </div>
    </div>
   {% endfor %}
   <div class="pagination">
    <span class="step-links">
        {% if eventos.has_previous %}
            <a href="?page={{ eventos.previous_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ eventos.number }} de {{ eventos.paginator.num_pages }}.
        </span>

        {% if eventos.has_next %}
            <a href="?page={{ eventos.next_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Siguiente</a>
        {% endif %}
    </span>
   </div>
{% endblock %}
