﻿{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
 {% endblock %}
{% block contenido %}
<div align="center">
<form method="GET">
	<input type="hidden" name="tipo_carga" value="sin_evento"/>
	<input type="submit" value="CREAR RESEÑA" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.resenias_view' %}"/>
	<input type="submit" value="CREAR ENCUESTA" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.encuestas_view' %}"/>
	<input type="submit" value="AGREGAR TRANSMISION" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.transmisiones_view' %}"/>
	<input type="submit" value="PUBLICAR FOTO" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.subir_imagen_view' %}"/>
</form>
</div>
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides --> 
  <div class="carousel-inner" role="listbox">
    <div class="item active">
	    <img src="{% static 'fondos/mascotas-rio.png' %}" alt="Logo Rio 2016">
      <div class="carousel-caption">
        <h3>Logo Rio 2016</h3>
        <p></p>
      </div>
    </div>

    <div class="item">
	    <img src=" {% static 'fondos/estadios-rio.jpg' %}" alt="Estadios">
      <div class="carousel-caption">
        <h3>Estadios Rio 2016</h3>
        <p></p>
      </div>
    </div>

    <div class="item">
	    <img src=" {% static 'fondos/fotonoticia-rio.jpg'%}" alt="Cristo">
      <div class="carousel-caption">
        <h3>Rio de Janeiro 2016</h3>
        <p>.</p>
      </div>
    </div>
	
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div> <br>

{% if lista_eventos %} 
	<div id="panel-eventos" class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Próximos eventos</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tbody>
							{% for evento in lista_eventos %}
									<tr>
											<td>
												<b>{{evento.id_deporte}}</b>
											</td>
											<td class="tds-img-bandera">
												{% for pais in evento.paises %}
													<img src="{% static 'images/' %}{{pais.id_pais.imagen}}" alt="{{pais.id_pais.nombre}}">
												{% endfor %}
											</td>
											<td>
												{{ evento.fecha_hora}}
											</td>
											<td>
												<form method="GET">
													<input type="hidden" name="id" value="{{evento.id}}"/>
													<input type="submit" value="Más info" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.eventos_view' %}"/>
												</form>
											</td>
									</tr>
							{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>
{% endif %}

{% if lista_resenias %} 
	<div id="panel-encuestas" class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Mejores reseñas</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tbody>
							{% for resenia in lista_resenias %}
									<tr>
											<td>
												<b>{{resenia.titulo}}</b>
											</td>
											<td>
												{{ resenia.contenido|truncatewords:"10" }}
											</td>
											<td>
												<form method="GET">
													<input type="hidden" name="id_resenia" value="{{resenia.id}}"/>
													<input type="submit" value="Ver Reseña" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.ver_resenia_view' %}"/>
												</form>
											</td>
									</tr>
							{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>
{% endif %}	

{% if lista_encuestas %} 
	<div id="panel-encuestas" class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Encuestas Mas Votadas</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tbody>
							{% for encuesta in lista_encuestas %}
									<tr>
											<td>
												<b>{{encuesta.titulo}}</b>
											</td>
											<td>
												{{ encuesta.descripcion }}
											</td>
											<td>
												<form method="GET">
													<input type="hidden" name="id_encuesta" value="{{encuesta.id}}"/>
													<input type="submit" value="Ver Encuesta" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.ver_encuesta_view' %}"/>
												</form>
											</td>
									</tr>
							{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>
{% endif %}
	
{% endblock %}
