{% extends 'base.html' %}
{% block titulo %}
{% endblock %}
{% block subtitulo %}
{% endblock %}
{% block contenido %}
<form  method="GET">
<input type="submit" value="SUBIR FOTO" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.subir_imagen_view' %}"/>
</form>  
<form>
  	<div id="panel-eventos" class="col-md-9">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">VER</h3>
				
			</div>
			<div class="panel-body">
				<td>
				    <select name="evento_seleccionado">
			   	        <option value selected="Todos">Todas las Imágenes</option>
				        {% for evento in eventos %}
					        <option value="{{evento.id}}">{{evento}}</option>
				        {% endfor %}
			        </select>
				</td>
				<td>
					<form method="GET">
						<input type="submit" value="VER" formaction="{% url 'sitio.views.listado_imagenes_view' %}"/>
					</form>
				</td>
			</div>
		</div>
	</div>
</form>
  {% for imagen in imagenes %}
   <div align="center">
	<img src="{{imagen.imagen.url}}" class="img-thumbnail" width="500" height="500"/>
	<h4 style="font-family:Impact;">{{ imagen.descripcion }}</h4>
	</div>
		<form  method="GET">
		<input type="hidden" name="id_imagen" value="{{imagen.id}}"/>
		<input type="hidden" name="tipo_contenido" value="imagen"/>
		<input type="hidden" name="evento" value="{{imagen.id_evento}}"/>
		{% if imagen.id_usuario == usuario %}
		    <div align="center">
				<input type="submit" value="Eliminar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
			</div>
	    {% else %}
			<div align="center">
				<input type="submit" value="Denunciar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
			</div>
		{% endif %}
	  </form>
   {% endfor %}
   
   <div class="pagination">
    <span class="step-links">
        {% if imagenes.has_previous %}
            <a href="?page={{ imagenes.previous_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ imagenes.number }} de {{ imagenes.paginator.num_pages }}.
        </span>

        {% if imagenes.has_next %}
            <a href="?page={{ imagenes.next_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Siguiente</a>
        {% endif %}
    </span>
   </div>
{% endblock %}
