{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<form method="GET">
	<input type="hidden" name="tipo_carga" value="sin_evento"/>
	<input type="submit" value="AGREGAR TRANSMISION" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.transmisiones_view' %}"/>
<div class="panel panel-success">
	<input type="radio" name="filtro" value="Todas" checked> Todas las Transmisiones    
	<input type="radio" name="filtro" value="Futuras"> Futuras Transmisiones 
	<input type="submit" value="VER" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.listado_transmisiones_view' %}"/>
</div>
</form>
<h3 class="titulo-azul"> Lista de Transmisiones </h3>
{% for transmision in transmisiones %}
	<div class="panel panel-success" id="panel-lista">
		<div class="panel-heading">
			<h3 class="panel-title"><b>{{transmision.id_evento}}</b></h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item"> {{ transmision.canal_tv }}</li> 
				<li class="list-group-item"> {{ transmision.link }}</li>
			</ul>
			<form method="GET">
				<input type="hidden" name="id_transmision" value="{{transmision.id}}"/>
				<input type="hidden" name="tipo_contenido" value="transmision"/>
				<input type="hidden" name="evento" value="{{transmision.id_evento}}"/>
				{% if transmision.id_usuario == usuario %}
					<div align="right">
						<input type="submit" value="Ver Transmision" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.editar_transmision_view' %}"/>
						<input type="submit" value="Eliminar" class="btn btn-success btn-xs" style="padding-left:10;" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
					</div>
				{% else %}
					<div align="right">
						<input type="submit" value="Ver Transmision" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.ver_transmision_view' %}"/>
						<input type="submit" value="Denunciar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
					</div>
				{% endif %}
			</form>
		</div>
	</div>
{% endfor %}
<div class="pagination">
	<span class="step-links">
		{% if transmisiones.has_previous %}
			<a href="?page={{ transmisiones.previous_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Anterior</a>
		{% endif %}

		<span class="current">
			Pagina {{ transmisiones.number }} de {{ transmisiones.paginator.num_pages }}.
		</span>

		{% if transmisiones.has_next %}
			<a href="?page={{ transmisiones.next_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Siguiente</a>
		{% endif %}
	</span>
</div>
{% endblock %}
