{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<form  method="GET">
	<input type="submit" value="CREAR PREGUNTA" class="btn btn-success btn-sm" formaction="{% url 'sitio.views.pregunta_foro_view' %}"/>
</form> 
<h3 class="titulo-azul"> Foro </h3> 
{% for pregunta in preguntas %}
	<div class="panel panel-success" id="panel-lista">
		<div class="panel-heading">
			<h3 class="panel-title">{{usuario}}</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item"> <b> {{pregunta.pregunta}} </b> </li>
			</ul>
			<form method="GET">
				<input type="hidden" name="id_pregunta" value="{{pregunta.id}}"/>
				<input type="hidden" name="tipo_contenido" value="pregunta"/>
				{% if pregunta.id_usuario == usuario %}
				<div align="right">
					<input type="submit" value="VER PREGUNTA" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.ver_pregunta_view' %}"/>
					<input type="submit" value="Eliminar" class="btn btn-success btn-xs" style="padding-left:10;" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
				</div>
				{% else %}
				<div align="right">
					<input type="submit" value="VER PREGUNTA" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.ver_pregunta_view' %}"/>
					<input type="submit" value="Denunciar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
				</div>
				{% endif %}
			</form>
		</div>
	</div>
{% endfor %}
<div class="pagination">
	<span class="step-links">
		{% if preguntas.has_previous %}
			<a href="?page={{ preguntas.previous_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Anterior</a>
		{% endif %}

		<span class="current">
			Pagina {{ preguntas.number }} de {{ preguntas.paginator.num_pages }}.
		</span>

		{% if preguntas.has_next %}
			<a href="?page={{ preguntas.next_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Siguiente</a>
		{% endif %}
	</span>
</div>
{% endblock %}
