{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<form method="GET">
	<input type="hidden" name="tipo_carga" value="sin_evento"/>
	<input type="submit" value="CREAR RESEÑA" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.resenias_view' %}"/>
</form>
<h3 class="titulo-azul"> Mis Reseñas </h3>
{% for resenia in lista_resenias %}
	<div class="panel panel-success" id="panel-lista">
		<div class="panel-heading">
			<h3 class="panel-title"><b>{{resenia.titulo}}</b> - {{ resenia.id_evento.id_deporte.nombre}} </h3>
		</div>
		<div class="panel-body">
			<p>{{ resenia.contenido|truncatewords:"30"}}</p>
			<form  method="GET">
				<input type="hidden" name="id_resenia" value="{{resenia.id}}"/>
				<input type="submit" value="Ver Resenia" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.editar_resenia_view' %}"/>
			</form>
		</div>
	</div>
{% endfor %}
{% endblock %}
