{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<form method="GET">
	<input type="hidden" name="tipo_carga" value="sin_evento"/>
	<input type="submit" value="CREAR RESEÑA" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.resenias_view' %}"/>
</form>
{% if message != "" %}
	<p style="color:red">{{ message }}</p>
{% endif %}
<h3 class="titulo-azul"> Lista de Reseñas </h3>
{% for resenia in resenias %}	
		<div class="panel panel-success" id="panel-lista">
		<div class="panel-heading">
			<h3 class="panel-title"><b>{{resenia.titulo}}</b></h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">{{ resenia.id_evento.id_deporte.nombre}} </li>
				<li class="list-group-item">{{ resenia.contenido|truncatewords:"30"}} </li>
						<li class="list-group-item">
							{% if not resenia.id in valoraciones_usuario and resenia.id_usuario_autor.id != usuario %}
							<form  method="POST">
								{% csrf_token %}
								<input type="radio" name="valor" value="1"> 1    
								<input type="radio" name="valor" value="2"> 2  
								<input type="radio" name="valor" value="3"> 3    
								<input type="radio" name="valor" value="4"> 4    
								<input type="radio" name="valor" value="5"> 5 
								<input type="hidden" name="id_resenia" value="{{resenia.id}}"/>
								<input type="submit" value="Votar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.votar_resenia_view' %}"/> 
							</form>
							{% endif %}
                            <p>Total Valoración: {{ resenia.valoracion}} </p>							
						</li>
			</ul>
			<form method="GET">
				{% csrf_token %}
				<input type="hidden" name="id_resenia" value="{{resenia.id}}"/>
				<input type="hidden" name="tipo_contenido" value="resenia"/>
				<input type="hidden" name="evento" value="{{resenia.id_evento}}"/>
				{% if resenia.id_usuario_autor.id == usuario %}
					<div align="right">
						<input type="submit" value="Eliminar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
						<input type="submit" value="Ver Reseña" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.editar_resenia_view' %}"/>
						<input type="submit" name= "Shared" class="btn btn-success btn-xs" value="Compartir en twitter" formaction="{% url 'sitio.views.postTweet' %}"/>
						<input type="submit" name= "SharedFace" class="btn btn-success btn-xs" value="Compartir en facebook" formaction="{% url 'sitio.views.wallPost' %}"/>
					</div>
				{% else %}
					<div align="right">
						<input type="submit" value="Denunciar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
						<input type="submit" value="Ver Reseña" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.ver_resenia_view' %}"/>
						<input type="submit" name= "Shared" class="btn btn-success btn-xs" value="Compartir en twitter" formaction="{% url 'sitio.views.postTweet' %}"/>
						<input type="submit" name= "SharedFace" class="btn btn-success btn-xs" value="Compartir en facebook" formaction="{% url 'sitio.views.wallPost' %}"/>
					</div>
				{% endif %}
			</form>
		</div>
	</div>
{% endfor %}
{% for valor in resultados %}
<li>{{ valor}} </li>
{% endfor %}
<div class="pagination">
	<span class="step-links">
		{% if resenias.has_previous %}
			<a href="?page={{ resenias.previous_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Anterior</a>
		{% endif %}

		<span class="current">
			Pagina {{ resenias.number }} de {{ resenias.paginator.num_pages }}.
		</span>

		{% if resenias.has_next %}
			<a href="?page={{ resenias.next_page_number }}" class="btn btn-success btn-sm" style="padding-left:10">Siguiente</a>
		{% endif %}
	</span>
</div>
<script>
	$(document).ready(function(){
		$("[name='Shared']" ).click(function(){
			this.attr('hidden','hidden');
			var $form = $('form');
			$form.submit(function(){
				$.get('/postTweet/', $(this).serialize(), function(response){
						// do something here on success
						alert("Se twitteo correctamente!");
				},'json');
			});
		});
		$("[name='SharedFace']" ).click(function(){
			this.attr('hidden','hidden');
			var $form = $('form');
			$form.submit(function(){
				$.get('/wallPost/', $(this).serialize(), function(response){
						// do something here on success
						alert("Se posteo correctamente!");
				},'json');
			});
		});
	});
</script>
{% endblock %}
