{% extends 'base.html' %}
{% block head %} 
{% endblock %}
{% block contenido %} 
	<h3 class="titulo-azul"> Followers en Twiter </h3>
	{% if message != "" %}
		<p style="color:red">{{ message }}</p>
	{% endif %}
	{% if followers %}
		<ul class="collection">
			{%for follow in followers %}
				<form method="POST">
					{% csrf_token %}
					<li class="collection-item avatar" id="{{follow.0}}">
						<img src="{{follow.1}}" alt="" class="circle">
					<span class="title">{{follow.2}}</span>
					<input type="hidden" name="follow_id" value="{{follow.0}}"/>
					<input type="submit" class="btn btn-success" value="Compartir por mensaje privado en Twitter">
					</li>
				</form>
			{%endfor%}
		</ul>
	{% else %}
		<p>Ha ocurrido un error de conexion con twitter o no tienes followers. Asegurate de estar logueado en twitter.</p>
	{% endif %}
{% endblock %}





