{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block contenido %}
 <div class="panel panel-success" id="panel-crear">
    <div class="panel-heading">
        <h3 class="panel-title">Sube Tu Foto</h3>
    </div>
    <div class="panel-body">
        <form  class="form-vertical" role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <div style="color:#26651D">{{ field.label_tag }} </div>
                    {{ field }}
                </div> <br>
            {% endfor %}
            <br>
            <input type="submit" value="SUBIR FOTO" class="btn btn-success btn-sm" style="padding-left:10"/>
        </form>
    </div>
</div>
{% endblock %}