{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<form method="GET">
	<input type="hidden" name="tipo_carga" value="sin_evento"/>
	<input type="submit" value="AGREGAR TRANSMISION" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.transmisiones_view' %}"/>
</form>
<h3 class="titulo-azul"> Mis Transmisiones </h3>
{% for transmision in lista_transmisiones %}
   <div class="panel panel-success" id="panel-lista">
		<div class="panel-heading">
			<h3 class="panel-title"><b>{{transmision.id_evento}}</b> </h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item"> {{ transmision.canal_tv }}</li> 
				<li class="list-group-item"> {{ transmision.link }}</li>
			</ul>
			<form method="GET">
				<input type="hidden" name="id_transmision" value="{{transmision.id}}"/>
				<input type="submit" value="Ver Transmision" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.editar_transmision_view' %}"/>
			</form>
		</div>
	</div>
{% endfor %}
{% endblock %}
