{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-crear">
	<div class="panel-heading">
		<h3 class="panel-title">Reseña</h3>
	</div>
	<div class="panel-body">
		<form method="GET">
			{% csrf_token %}
			{% for field in resenia_form %}
				<div class="noEditable" class="fieldWrapper">
					<div style="color:#26651D">{{ field.label_tag }} </div>
					{{field}}
				</div> 
				<br>
			{% endfor %}
			<p> Total Valoracion: {{valoracion}} </p>
			{% if not resenia.id in valoraciones_usuario%}
				<input class="editable" type="radio" name="valor" value="1"> 1    
				<input class="editable" type="radio" name="valor" value="2"> 2  
				<input class="editable" type="radio" name="valor" value="3"> 3    
				<input class="editable" type="radio" name="valor" value="4"> 4    
				<input class="editable" type="radio" name="valor" value="5"> 5 
			
				<input type="hidden" name="id_resenia" value="{{resenia.id}}"/>
				<input class="editable" type="submit" value="Votar" class="btn btn-success btn-xs" style="padding-left:10" formmethod="POST" formaction="{% url 'sitio.views.votar_resenia_view' %}"/> 
			{% endif %}
			<input type="hidden" name="id_resenia" value="{{resenia.id}}"/>
			<input type="hidden" name="tipo_contenido" value="resenia"/>
			<input type="hidden" name="evento" value="{{resenia.id_evento}}"/>
			{% if not resenia.id_usuario_autor.id == usuario %}
				<div align="right">
					<input type="submit" value="Denunciar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
					<input type="submit" value="OK" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.listado_resenias_view' %}"/>
				</div>
			{% else %}
				<div align="right">
					<input type="submit" value="Eliminar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
					<input type="submit" value="OK" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.listado_resenias_view' %}"/>
				</div>			
			{% endif %}
		</form>
	</div>
</div>

	
<div class="col-md-6">
	<!--<p class="titulo-azul" style="text-align:center"> <b>Comentarios:</b></p>-->
	<div class="panel panel-success" id="panel-comentario">
			<div class="panel-heading">
					<h3 class="panel-title">Comentarios recientes</h3>
			</div>
			<div class="panel-body">
				{% for comentario in comentarios %}
					<ul class="list-group">
						<li class="list-group-item">
							<b>{{comentario.id_usuario_autor}}</b>
							<form  method="GET">
									<input type="hidden" name="id_comentario" value="{{comentario.id}}"/>
									<input type="hidden" name="tipo_contenido" value="comentario_resenia"/>
									<input type="hidden" name="resenia" value="{{resenia.id}}"/>
									{% if comentario.id_usuario_autor.id == usuario %}
										<div align="right">
											<input type="submit" value="Eliminar" class="btn btn-success btn-xs" style="padding-left:10;" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
										</div>
									{% else %}
											<div align="right">
												<input type="submit" value="Denunciar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
											</div>
									{% endif %}
								</form>
						</li>
						<li class="list-group-item">{{comentario.descripcion}}</li>
					</ul>
				{% endfor %}
		</div>
	</div>
</div>

<div class="col-md-5" >
	<div class="panel panel-success" id="panel-comentario">
		<div class="panel-heading">
				<h3 class="panel-title">Deja tu Comentario!</h3>
		</div>
		<div class="panel-body">
			<form method="POST">
				{% csrf_token %}
				<input type="hidden" name="tipo_post" value="Comentario"/>
				<input type="hidden" name="id_resenia" value="{{resenia.id}}"/>
				<textarea name="descripcion" type="textarea" rows="5" cols="50"/> </textarea>
				<br/>
				<input type="submit" value="Comentar" class="btn btn-success btn-sm" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.ver_resenia_view' %}"/>
			</form>
		</div>
	</div>
</div>
{% endblock %}

