{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-crear">
	<div class="panel-heading">
		<h3 class="panel-title">Transmisión</h3>
	</div>
	<div class="panel-body">
        <form method="GET">
            {% csrf_token %}
            {% for field in transmision %}
                <div  class="noEditable" class="fieldWrapper">
                    {{ field.errors }}
                    <div style="color:#26651D">{{ field.label_tag }} </div>
                    {{ field }}
                </div> <br>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}

