{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-crear">
	<div class="noEditable" class="panel-heading">
		<form method="GET">
			<h3 class="panel-title"><b> Pregunta: </b>{{pregunta.pregunta}}</h3>
		</form>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			{% for respuesta in respuestas %}
				<li class="list-group-item">
					<b>{{respuesta.id_usuario}} respondió:</b>
					{{respuesta.respuesta}}
					<form method="GET">
						<div align="right">
							<input type="hidden" name="id_respuesta" value="{{respuesta.id}}"/>
							<input type="hidden" name="id_pregunta" value="{{pregunta_foro.id}}"/>
							<input type="hidden" name="tipo_contenido" value="respuesta"/>
							{% if respuesta.id_usuario == usuario %}
								<input type="submit" value="Eliminar" class="btn btn-success btn-xs" style="padding-left:10;" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
							{% else %}
								<input type="submit" value="Denunciar" class="btn btn-success btn-xs" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
							{% endif %}
						</div>
					</form>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="col-md-12" style="padding-left:400; padding-right:400;text-align:center">
	<div class="panel panel-success" id="panel-comentario">
		<div class="panel-heading">
				<h3 class="panel-title">Deja tu respuesta!</h3>
		</div>
		<div class="panel-body">
			<form method="POST">
				{% csrf_token %}
				<textarea name="respuesta" type="textarea" rows="5" cols="50"/> </textarea>
				<br/>
				<div align="center">
					<input type="hidden" name="id_pregunta" value="{{pregunta_foro.id}}"/>
					<input type="submit" value="PUBLICAR RESPUESTA" class="btn btn-success btn-xs" style="font-family:arial black;padding-left:10" formaction="{% url 'sitio.views.respuesta_foro_view'%}"/>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

