{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-crear">
	<div class="panel-heading">
		<h3 class="panel-title">Encuesta</h3>
	</div>
	<div class="noEditable" class="panel-body">
		<form method="GET">
			{% csrf_token %}
			<input type="hidden" name="id_encuesta" value="{{id_encuesta}}"/>
			{% for field in encuesta_form %}
				<div class="fieldWrapper">
					{{ field.errors }}
					<div style="color:#26651D">{{ field.label_tag }} </div>
					{{ field }}
				</div> 
				<br>
			{% endfor %}
			{% for opcion in resultados %}
				<p>{{opcion.0}} : % {{opcion.1}}</p>
			{% endfor %}
			<div align="right">
				<input class="editable" type="hidden" name="tipo_contenido" value="encuesta"/>
				<input class="editable" type="hidden" name="id_encuesta" value="{{id_encuesta}}"/>
				<input class="editable" type="hidden" name="evento" value="{{encuesta.id_evento}}"/>
				{% if us.id_usuario_creador == usuario %}
					<div align="right">
						<input type="submit" value="Eliminar" class="btn btn-success btn-xs editable" style="padding-left:10;" formaction="{% url 'sitio.views.eliminar_contenido_view' %}"/>
					</div>
				{% else %}
					<div align="right">
						<input type="submit" value="Denunciar"  class="btn btn-success btn-xs editable" style="padding-left:10" formaction="{% url 'sitio.views.denunciar_contenido_view' %}"/>
					</div>
				{% endif %}
			</div>
		</form>
	</div>
</div>
{% endblock %}

