{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block contenido %}
<div class="panel panel-success" id="panel-crear">
	<div class="panel-heading">
		<h3 class="panel-title"><b>Encuesta:</b> {{ encuesta.titulo }}</h3>
	</div>
	<div class="panel-body">
		<form method="POST">
			{% csrf_token %}
			<ul class="list-group">
				<li class="list-group-item">{{ encuesta.descripcion }}</li>
				<li class="list-group-item"><b> Fecha cierre: </b>{{ encuesta.fecha_cierre }}</li>
			</ul>
			<input type="hidden" name="id_encuesta" value="{{encuesta.id}}"/>
			{% if not encuesta.id in votos_usuario%}
				{% for opcion in resultados %}
					<input type="radio" name="valor" value="{{opcion.0}}" checked> {{opcion.0}}</input>
					<br/>
					<p>{{opcion.0}} : {{opcion.1}}%</p>
				{% endfor %}
				<input type="submit" value="VOTAR" class="btn btn-success btn-sm" style="padding-left:10" formaction="{% url 'sitio.views.votar_encuesta_view' %}"/>
			{% else %}
				{% for opcion in resultados %}
					<p>{{opcion.0}} : {{opcion.1}}%</p>
				{% endfor %}
			{% endif %}
		</form>
	</div>
</div>
{% endblock %}
  



