/*1- MENU*/

/*1.1 Navbar*/
.size{
    height: 50%;
}
.navbar-header {
    max-width: 300px;
}
 #MyNav, #MyNavbar {
     margin-right: 5px;
 }
 #MyPage {
  margin-top: 60px;
}
 .navbar-default .navbar-nav>li>a {
    color: rgba(38, 93, 132, 0.92);
}
.logo-nav{
    height: 100%;
    width: 40%;
}  
.left-nav{
    top: 10px;
}
.navbar {
    background-color: rgb(102, 188, 65);;
    height: 10%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/*1.2 Buscador*/
.glyphicon-search:before {
    color: rgba(38, 93, 132, 0.92);
}
#search{
    padding: 0px;
    margin: 0px; 
    height: auto; 
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc !important;
}
.buscador{
    left: 14%;
    top: -2px;
    position: absolute;
}
.buscador input{
    min-height: 50%;
    top: 14px;
    position: absolute;
}

.navbar-brand span{
    width: 10%;
    height: 100% 
}

/*1.3 Login/Register*/
.dropdown, .dropup {
    position: relative;
    right: 20px;
    top: 5px;
}
#ajax_login, #ajax_registration {
    padding-top: 40px;
}
.modal-dialog input{
    width:250px;
}
#register_modal .modal-content{
     width:500px;
}
#logout{
    top: 5px;
}
/*Media queries*/
@media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
    .navbar-toggle{
        right: 13px;
        top: 8px;
    }
    .buscador {
    left: 23%;
    top: 10px;
    position: absolute;
 }
 #myNavbar{
     background-color: rgba(253, 248, 248, 0.91);
     }
     #register_modal .modal-content{
         height: 70%;
         width: 100%;
     }
    .modal-footer {
        padding: 1px;
    }
  }
  
  
/*2- BODY*/
body {
    background-color: white;
}

.row{
    padding-left:25px !important
}


#TituloPpal{
    color: rgb(102, 188, 65);;
    text-align: center;
    font-size: 3em;
    text-shadow: #555 2px 2px 2px;
}

#SubtituloPpal{
    color: rgb(102, 188, 65);;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px;
}

#pie-de-pagina{
    color:rgb(102, 188, 65);;
    font-size: 1.5em;
}
/*3- INICIO*/
.tds-img-bandera{
    width: 63px;
    display: block;
}
.tds-img-bandera > img{
    height: 20px;
    width: 21px;  
    border: 1px solid rgba(23, 22, 22, 0.27);
}

.panel-body {
    padding: 5px;
}
#evento_div{
		border:None;
		background-color:white;
	}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .carousel-caption h3 {
      color: #000000!important;
  }
  .carousel-caption{
      bottom: -35px !important;
  }
  #container-carousel{
      width: 34%;
      height: 46%;
  }
/**/
#panel-crear{
    width: 80%;
    margin-left: 10%;
}
#panel-crear > .panel-body {
    padding: 15px;
}
#panel-lista{
    width: 90%;
    margin-left: 5%;
}
#panel-lista > .panel-body {
    padding: 10px;
}
#panel-evento{
    width: 90%;
    margin-left: 5%;
}
#panel-evento > .panel-body {
    padding: 10px;
}

.titulo-azul{
    color:rgba(38, 93, 132, 0.92);
    font-family:Impact;
}
/*GENERALES*/
.p-5{ 
    padding:5px;
}
.p-t-15{
    padding-top:15px;
}
.p-l-25{ 
    padding-left:25px;
}
.p-r-4{
    padding-right:4px;
}
.p-r-5{
    padding-right:5px;
}
.p-r-15{
    padding-right:15px;
}

.p-r-55{
    padding-right:55px;
}

.p-r-97{
    padding-right:97px;
}

.hide{
    display: none;
}

 body {
    background-color: gainsboro;
}
a {
    text-decoration: none;
}



/*allauth templates re-design*/
input[type='password'],
input[type='text'],
input[type='email'] {
    width: 86%;
    border-radius:4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 2px 4px;
    margin: 6px;
}
.logged-in {
    background: gainsboro url("/static/img/CCTVMobile.jpg") no-repeat center 80px;
}
.logged-out {
    background: gainsboro url("/static/img/WhatAreYouLookingAt.jpg") no-repeat center 30px;
    background-size: 90%;
}
.login_body {
    background: url('/static/img/WhatAreYouLookingAt2.png') no-repeat center top;
    background-size: 100%;
    color: #4d4d4d;
    font-family: 'Arial',serif;
    font-size:  14px;
}
.fb {
    background: url('/static/img/fb_200.png') no-repeat center top;
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    width: 198px;
    height: 37px;
    margin: 80px auto;
    overflow: hidden;
}
.inset {
    width: 200px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}
.inset .header {
    margin-bottom: 10px;
}
.remember-forgot-section {
    width: 94%;
    text-align: left;
    margin: 8px auto;
    font-size: 10px;
}
.forgot {
    float: right;
    margin-top: 2px;
}
.footnote {
    position: relative;
    top: 14px;
    margin-top: 6px;
    font-size: 10px;
}
.banner-img-logged-out,
.banner-img {
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
}
.pull-right {
    float:right;
}
.btn {
    color: #fff;
    font-size: 13px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: rgb(102, 140, 94);
    background-image: -moz-linear-gradient(top, rgb(158, 194, 142), rgb(104, 143, 96));
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#9ec28e),to(#688f60));
    background-image: -webkit-linear-gradient(top, #9ec28e, #688f60);
    background-image: -o-linear-gradient(top, #9ec28e, #688f60);
    background-image: linear-gradient(to bottom, #9ec28e, #688f60);
    background-repeat: repeat-x;
    border-color: #5f8657;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-width: 2px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px 18px 5px 18px;
}

.btn:hover,
.btn.active {
    box-shadow: 1px 1px 9px rgba(0,0,0,.7);
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
ul.errorlist li {
    display: inline;
    color: red;
    font-size: 12px;
}   