{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block contenido %}
<div class="panel panel-success"id="panel_crear" >
	<div class="panel-heading">
		<h3 class="panel-title">Buscar</h3>
	</div>
	<div class="panel-body">

		<form method="get" action=".">
			<table>
				{{ form.as_table }}
				<tr>
					<td>&nbsp;</td>
					<td>
						<input type="submit" value="Buscar">
					</td>
				</tr>
			</table>
	</div>
</div>
        {% if query %}
		<h3 class="titulo-azul"><b>Resultados:</b></h3>
		<div div class="panel panel-success" id="panel-lista">
            {% for result in page.object_list %}
				<ul class="list-group">
					{% if result.model_name == 'resenias' %}
						<form method="GET">
							<a href="/ver_resenia/?id_resenia={{ result.pk }}">{{ result.object }}</a>
						</form>
					{% elif result.model_name == 'eventos' %}
						<form method="GET">
							<a href="/eventos/?id={{ result.pk }}">{{ result.object }}</a>
						</form>
					{% elif result.model_name == 'transmisiones' %}
						<form method="GET">
							<a href="/ver_transmision/?id_transmision={{ result.pk }}">{{ result.object }}</a>
						</form>
					{% elif result.model_name == 'encuestas' %}
						<form method="GET">
							<a href="/ver_encuesta/?id_encuesta={{ result.pk }}">{{ result.object }}</a>
						</form>
					{% elif result.model_name == 'pregunta_foro' %}
						<form method="GET">
							<a href="/ver_pregunta/?id_pregunta={{ result.pk }}">{{ result.object }}</a>
						</form>
					{% endif %}
				</ul>
				{% empty %}
					<p style="color:white">No se encontraron resultados.</p>
				{% endfor %}

				{% if page.has_previous or page.has_next %}
					<div>
						{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
						|
						{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
					</div>
				{% endif %}
			</div>
			</div>
			{% endif %}
    </form>
{% endblock %}
